# dependencies
node_modules/
.pnp
.pnp.*

# pnpm
.pnpm-store/

# build outputs
.next/
out/
build/
dist/
coverage/
festival-app/backend/target/

# env
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# system
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts
